<section class="cd-hero3">
    <div class="content-wrapper">
      <header>
        <%= image_tag "top-about.png", :class => "map-image" %>
      </header>
      <div class="split-container">
        <div class="split-item split-right pong">
          <div class="split-image">
            <%= image_tag "pong.png" %>
          </div>
        </div>
        <div class="split-item split-left about-content">
          <h2>About</h2>
          <p>We are a software and technology development firm that designs, develops and grows websites and web applications.</p>
          <p>We build scalable software using a variety of technologies and know which tools to use to guarantee the success of your project.</p>
        </div>
      </div>

      <div>
        <%= image_tag "bottom-about.png", :class => "about-image" %>
      </div>

    </div>
</section>