<section class="cd-hero2">
  <header>
    <%= image_tag "oc-map.jpg", :class => "map-image" %>
  </header>

    <div class="column-center">
      <%= render partial: 'pages/contact_form' %>
    </div>

</section>