<section class="cd-hero2 mobile-body">
    <%= image_tag "logo.png", class: "mobile-logo" %>
    <br><br><br><br>
    <h2 class="text-center">Web Consulting &</h2>
    <h2 class="text-center">Venture Product Development</h2>
    <div class="opr-next"></div>
  <div class="scroll-down"></div>
</section>

<section class="cd-hero2">
        <header>
          <%= image_tag "oc-map.jpg", :class => "map-image" %>
        </header>
        <div class="contact-column">
          <%= render partial: 'pages/contact_form' %>
        </div>
</section>
