<div class="team-container" style="padding-top: 130px;margin-bottom:48px;">
  <div class="row">
    <h2>Services</h2>
  </div>
  <div class="row">
    <div class="team">
      <div class="teamimg development"></div><br><br>
      <h4>Web Application Development</h4><br>
      <p class="body-text">In addition to assisting with defining the product vision, we can also build it. We build elegant and maintainable code using software engineering best practices and Agile methodologies</p>
    </div>
    <div class="team">
      <div class="teamimg ecommerce"></div><br><br>
      <h4>E-Commerce</h4><br>
      <p class="body-text">Our custom E-Commerce solutions enable you to provide an elegant shopping experience for your customers, along with integrations into a variety of payment processors and analytics engines</p>
    </div>
    <div class="team">
      <div class="teamimg design"></div><br><br>
      <h4>Website Design & Branding</h4><br>
      <p class="body-text">Our team uses superior design principles to elevate your brand and establish a web presence that showcases your company</p>
    </div>
    <div class="team">
      <div class="teamimg marketing"></div><br><br>
      <h4>Digital Marketing & Consulting</h4><br>
      <p class="body-text">We help ensure that your website gets the traffic it deserves by developing a presence in all web channels: Social Media, SEO, PPC and more. </p>
    </div>
  </div>
</div>